In [40]:
import numpy as np
import pandas as pd
import openpyxl

In [41]:
Dataset = pd.read_csv('netflix_titles.csv')

In [42]:
Dataset.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [43]:
Dataset.shape

(8807, 12)

In [44]:
Data_duplicates_dropped = Dataset.drop_duplicates()

In [45]:
Data_duplicates_dropped.shape

(8807, 12)

# Conclusion one --> No Duplicates

since intiall shape is same as final shape

In [46]:
Data_duplicates_dropped.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [47]:
Data = Data_duplicates_dropped

In [48]:
Data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [49]:
Data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [50]:
Data.groupby('director')['director'].sum()

director
A. L. Vijay                      A. L. VijayA. L. Vijay
A. Raajdheep                               A. Raajdheep
A. Salaam                                     A. Salaam
A.R. Murugadoss          A.R. MurugadossA.R. Murugadoss
Aadish Keluskar                         Aadish Keluskar
                                     ...
Çagan Irmak                                 Çagan Irmak
Ísold Uggadóttir                       Ísold Uggadóttir
Óskar Thór Axelsson                 Óskar Thór Axelsson
Ömer Faruk Sorak       Ömer Faruk SorakÖmer Faruk Sorak
Şenol Sönmez                   Şenol SönmezŞenol Sönmez
Name: director, Length: 4528, dtype: object

In [51]:
Data.groupby('show_id')['show_id'].sum()

show_id
s1          s1
s10        s10
s100      s100
s1000    s1000
s1001    s1001
         ...
s995      s995
s996      s996
s997      s997
s998      s998
s999      s999
Name: show_id, Length: 8807, dtype: object

In [52]:
Data = Data.drop(['show_id'],axis=1)

In [53]:
Data['director'] = Data['director'].fillna('Unknown')

In [54]:
Data.isnull().sum()

type              0
title             0
director          0
cast            825
country         831
date_added       10
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [55]:
Data['cast'] = Data['cast'].fillna('Unknown')
Data['cast'] = Data['cast'].str.strip().str.title()

In [56]:
Data.groupby('cast')['cast'].sum()

cast
'Najite Dede, Jude Chukwuka, Taiwo Arimoro, Odenike Odetola, Funmi Eko, Keppy Ekpenyong                                                                            'Najite Dede, Jude Chukwuka, Taiwo Arimoro, Od...
4Minute, B1A4, Btob, Elsie, Exid, Exo, Got7, Infinite, Kara, Shinee, Sistar, Vixx, Nine Muses, Bts, Secret, Topp Dogg                                              4Minute, B1A4, Btob, Elsie, Exid, Exo, Got7, I...
50 Cent, Ryan Phillippe, Bruce Willis, Rory Markham, Jenna Dewan, Brett Granstaff, Randy Couture, Susie Abromeit, Ron Turner, James Remar                          50 Cent, Ryan Phillippe, Bruce Willis, Rory Ma...
A.J. Locascio, Sendhil Ramamurthy, Fred Tatasciore, Jake Johnson, Lauren Lapkus, Zachary Levi, Bd Wong, David Gunning                                              A.J. Locascio, Sendhil Ramamurthy, Fred Tatasc...
A.R. Rahman                                                                                                                                                                                              A.R. Rahman
                                                                                                                                                                                         ...
İbrahim Büyükak, Zeynep Koçak, Gupse Özay, Cengiz Bozkurt                                                                                                          İbrahim Büyükak, Zeynep Koçak, Gupse Özay, Cen...
İbrahim Çelikkol, Belçim Bilgin, Alican Yücesoy, Teoman Kumbaracıbaşı, Serdar Yeğin, Tülay Günal, Gözde Cığacı, Ferit Aktuğ, Rojda Demirer, Aybars Kartal Özson    İbrahim Çelikkol, Belçim Bilgin, Alican Yüceso...
Şahin Irmak, İrem Sak, Gonca Vuslateri, Emre Karayel, Duygu Yetiş, Onur Buldu, Salih Kalyon, Bilge Şen, Nilgün Belgün, Hakan Akın                                  Şahin Irmak, İrem Sak, Gonca Vuslateri, Emre K...
Şükrü Özyıldız, Aslı Enver, Şenay Gürler, Başak Parlak, Mahir Günşiray, Hakan Boyav, Hakan Gerçek, Berrak Kuş, Gamze Süner Atay, Mehmet Esen                       Şükrü Özyıldız, Aslı Enver, Şenay Gürler, Başa...
Ṣọpẹ́ Dìrísù, Wunmi Mosaku, Matt Smith, Malaika Wakoli-Abigaba                                                                                                     Ṣọpẹ́ Dìrísù, Wunmi Mosaku, Matt Smith, Malaik...
Name: cast, Length: 7693, dtype: object

In [57]:
Data['country'] = Data['country'].fillna('Unknown')              # 1. Handle missing
Data['country'] = Data['country'].str.strip().str.title()

Handled the data as Unkown since it was a text but datetime we are not sure since the sum is only ten we can be fine with even changing it to mode. similiarly,rating and duration.

In [58]:
Data['date_added'] = Data['date_added'].fillna(Data['date_added'].mode()[0])
Data['rating'] = Data['rating'].fillna(Data['rating'].mode()[0])
Data['duration'] = Data['duration'].fillna(Data['duration'].mode()[0])

In [59]:
Data.isnull().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [60]:
Data['date_added'] = pd.to_datetime(Data['date_added'], errors='coerce')

In [61]:
Data.groupby('type')['duration'].sum()

type
Movie      90 min91 min125 min104 min127 min91 min67 min9...
TV Show    2 Seasons1 Season1 Season2 Seasons1 Season9 Se...
Name: duration, dtype: object

This shows that movie has minutes and seasons have seconds

In [62]:
print(Data['duration'].unique())

['90 min' '2 Seasons' '1 Season' '91 min' '125 min' '9 Seasons' '104 min'
 '127 min' '4 Seasons' '67 min' '94 min' '5 Seasons' '161 min' '61 min'
 '166 min' '147 min' '103 min' '97 min' '106 min' '111 min' '3 Seasons'
 '110 min' '105 min' '96 min' '124 min' '116 min' '98 min' '23 min'
 '115 min' '122 min' '99 min' '88 min' '100 min' '6 Seasons' '102 min'
 '93 min' '95 min' '85 min' '83 min' '113 min' '13 min' '182 min' '48 min'
 '145 min' '87 min' '92 min' '80 min' '117 min' '128 min' '119 min'
 '143 min' '114 min' '118 min' '108 min' '63 min' '121 min' '142 min'
 '154 min' '120 min' '82 min' '109 min' '101 min' '86 min' '229 min'
 '76 min' '89 min' '156 min' '112 min' '107 min' '129 min' '135 min'
 '136 min' '165 min' '150 min' '133 min' '70 min' '84 min' '140 min'
 '78 min' '7 Seasons' '64 min' '59 min' '139 min' '69 min' '148 min'
 '189 min' '141 min' '130 min' '138 min' '81 min' '132 min' '10 Seasons'
 '123 min' '65 min' '68 min' '66 min' '62 min' '74 min' '131 min' '39 min'
 '46 min' '38 min' '8 Seasons' '17 Seasons' '126 min' '155 min' '159 min'
 '137 min' '12 min' '273 min' '36 min' '34 min' '77 min' '60 min' '49 min'
 '58 min' '72 min' '204 min' '212 min' '25 min' '73 min' '29 min' '47 min'
 '32 min' '35 min' '71 min' '149 min' '33 min' '15 min' '54 min' '224 min'
 '162 min' '37 min' '75 min' '79 min' '55 min' '158 min' '164 min'
 '173 min' '181 min' '185 min' '21 min' '24 min' '51 min' '151 min'
 '42 min' '22 min' '134 min' '177 min' '13 Seasons' '52 min' '14 min'
 '53 min' '8 min' '57 min' '28 min' '50 min' '9 min' '26 min' '45 min'
 '171 min' '27 min' '44 min' '146 min' '20 min' '157 min' '17 min'
 '203 min' '41 min' '30 min' '194 min' '15 Seasons' '233 min' '237 min'
 '230 min' '195 min' '253 min' '152 min' '190 min' '160 min' '208 min'
 '180 min' '144 min' '5 min' '174 min' '170 min' '192 min' '209 min'
 '187 min' '172 min' '16 min' '186 min' '11 min' '193 min' '176 min'
 '56 min' '169 min' '40 min' '10 min' '3 min' '168 min' '312 min'
 '153 min' '214 min' '31 min' '163 min' '19 min' '12 Seasons' '179 min'
 '11 Seasons' '43 min' '200 min' '196 min' '167 min' '178 min' '228 min'
 '18 min' '205 min' '201 min' '191 min']

In [63]:
Data['duration_minutes'] = np.where(
    Data['type'] == 'Movie',
    Data['duration'].str.extract(r'(\d+)')[0].astype(float),
    np.nan
)


# Number of seasons for TV Shows
Data['num_seasons'] = np.where(
    Data['type'] == 'TV Show',
    Data['duration'].str.extract(r'(\d+)')[0].astype(float),
    np.nan
)

In [64]:
Data['duration_minutes'] = Data['duration_minutes'].fillna(0).astype(int)
Data['num_seasons'] = Data['num_seasons'].fillna(0).astype(int)

In [65]:
Data = Data.drop(['duration'],axis=1)

In [66]:
Data.head()

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_minutes,num_seasons
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",90,0
1,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",0,2
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,0,1
3,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24,2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",0,1
4,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,0,2

In [67]:
Data.dtypes

type                        object
title                       object
director                    object
cast                        object
country                     object
date_added          datetime64[ns]
release_year                 int64
rating                      object
listed_in                   object
description                 object
duration_minutes             int64
num_seasons                  int64
dtype: object

In [68]:
Data.to_excel('cleaned_data_netflix_titles.xlsx', index=False)